<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="account">
        Modifica dati [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Impostazioni salvate!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
        <div class="form-group">
          <label class="form-control-label" for="firstName">Nome</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Your first name"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required">
              Il tuo nome è obbligatorio.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
              Il tuo nome deve essere lungo lameno un carattere.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
              Il tuo nome non può essere lungo più di 50 caratteri.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="lastName">Cognome</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Your last name"
            formControlName="lastName"
            data-cy="lastname"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required">
              Il tuo cognome è obbligatorio.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength">
              Il tuo cognome deve contenere almeno un carattere.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
              Il tuo cognome non può essere lungo più di 50 caratteri.
            </small>
          </div>
        </div>

        <div *jhiHasAnyAuthority="['ROLE_SELLER', 'ROLE_CUSTOMER']" class="form-group">
          <label class="form-control-label" for="indirizzo">Indirizzo</label>
          <input
            type="text"
            class="form-control"
            id="indirizzo"
            name="indirizzo"
            placeholder="Indirizzo"
            formControlName="indirizzo"
            data-cy="indirizzo"
          />
        </div>

        <div *jhiHasAnyAuthority="['ROLE_SELLER', 'ROLE_CUSTOMER']" class="form-group">
          <label class="form-control-label" for="telefono">Telefono</label>
          <input
            type="text"
            class="form-control"
            id="telefono"
            name="telefono"
            placeholder="Telefono"
            formControlName="telefono"
            data-cy="telefono"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required"> La tua email è obbligatoria. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> La tua email non è valida. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              La tua email deve contenere almeno 5 caratteri.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
              La tu mail non può essere lunga più di 50 caratteri.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Salva</button>
      </form>
    </div>
  </div>
</div>
