<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prodotto-heading" data-cy="ProdottoCreateUpdateHeading">{{account.login}}, aggiungi o modifica prodotto</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
          <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_descrizione">Descrizione</label>
          <input
            type="text"
            class="form-control"
            name="descrizione"
            id="field_descrizione"
            data-cy="descrizione"
            formControlName="descrizione"
          />
          <div *ngIf="editForm.get('descrizione')!.invalid && (editForm.get('descrizione')!.dirty || editForm.get('descrizione')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('descrizione')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_prezzo">Prezzo</label>
          <input type="number" class="form-control" name="prezzo" id="field_prezzo" data-cy="prezzo" formControlName="prezzo" />
          <div *ngIf="editForm.get('prezzo')!.invalid && (editForm.get('prezzo')!.dirty || editForm.get('prezzo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('prezzo')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('prezzo')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_disponibilita">Disponibilita</label>
          <input
            type="number"
            class="form-control"
            name="disponibilita"
            id="field_disponibilita"
            data-cy="disponibilita"
            formControlName="disponibilita"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_categoria">Categoria</label>
          <select class="form-control" name="categoria" formControlName="categoria" id="field_categoria" data-cy="categoria">
            <!-- <option [ngValue]="null"></option> -->
            <option value="ACTIONFIGURE">ACTIONFIGURE</option>
            <option value="ARREDAMENTO">ARREDAMENTO</option>
            <option value="ALTRO">ALTRO</option>
          </select>
          <div *ngIf="editForm.get('categoria')!.invalid && (editForm.get('categoria')!.dirty || editForm.get('categoria')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('categoria')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <!-- <div class="form-group">
          <label class="form-control-label" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
        </div> -->

        <!-- <div class="form-group" >
          <label class="form-control-label" for="field_venditore">Venditore</label>
          <input type="number" class="form-control" name="venditore" id="field_venditore" data-cy="venditore" formControlName="venditore" 
                [readonly]="true" value="{{venditore}}">
        </div> -->

        <!-- <div class="form-group">
          <label class="form-control-label" for="field_venditore">Venditore</label>
          <select readonly class="form-control" id="field_venditore" data-cy="venditore" name="venditore" formControlName="venditore">
            <option
              [ngValue]="venditoreOption.id === editForm.get('venditore')!.value?.id ? editForm.get('venditore')!.value : venditoreOption"
              *ngFor="let venditoreOption of venditoresSharedCollection; trackBy: trackVenditoreById"
            >
              {{ venditoreOption.id }} {{venditore}}
            </option>
          </select>
        </div> -->
        <div class="form-group" hidden>
          <label class="form-control-label" for="field_venditore">Venditore</label>
          <select class="form-control" id="field_venditore" data-cy="venditore" name="venditore" formControlName="venditore">
            <option
              [ngValue]="venditoreOption.id === editForm.get('venditore')!.value?.id ? editForm.get('venditore')!.value : venditoreOption"
              *ngFor="let venditoreOption of venditoresSharedCollection; trackBy: trackVenditoreById"
            >
              {{ venditoreOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
