<div class="modal-header">
  <h4 class="modal-title">Prodotto aggiunto con successo al carrello!</h4>

  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="ok()">&times;</button>
</div>

<div class="modal-body">
  <jhi-alert-error></jhi-alert-error>

  <p>Ritorna alla vetrina!</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" data-dismiss="modal" (click)="ok()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
      <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
    </svg>
    Ok
  </button>
</div>
