<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="userExtra">
      <h2 data-cy="userExtraDetailsHeading"><span>User Extra</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ userExtra.id }}</span>
        </dd>
        <dt><span>Indirizzo</span></dt>
        <dd>
          <span>{{ userExtra.indirizzo }}</span>
        </dd>
        <dt><span>Telefono</span></dt>
        <dd>
          <span>{{ userExtra.telefono }}</span>
        </dd>
        <dt><span>Ruolo</span></dt>
        <dd>
          <span>{{ userExtra.ruolo }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ userExtra.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/user-extra', userExtra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
